@inject HttpClient HttpClient

<div class="card text-center m-3">
    <h5 class="card-header">Simple GET Request</h5>
    <div class="card-body">
        Total users: @response?.Total
    </div>
</div>

@code {
    private UsersResponse response;

    protected override async Task OnInitializedAsync()
    {
        response = await HttpClient.GetFromJsonAsync<UsersResponse>("https://reqres.in/api/users");
    }
}